.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  overflow: auto;
  flex-direction: column;

  .operate-area {
    display: flex;
    position: sticky;
    margin-bottom: 10px;

    button {
      margin-right: 10px;
    }
  }

  .loading {
    display: flex !important;
  }

  .message-area {
    display: flex;
    margin-left: auto;
    width: max-content;
    align-items: center;

    .message-input {
      width: 200px;
    }
  }

  .wait-time {
    width: 150px;
    display: flex;
    align-items: center;
    word-break: keep-all;
  }

  .table {
    flex: 1;
  }
}
